*{
	-webkit-box: border-box;
	-moz-box: border-box;
	-ms-box: border-box;
	box-sizing: border-box;
}


h1{
	text-align: center;
	color: yellow;
	}

dfn{
	font-weight: bold;
	color: green;
	}

.stage{
	margin: 15px;
	padding: 10px;
	border-radius: 25px;
	background-color: maroon;
	}

.section{
	margin: 15px;
	padding: 15px;
	border-radius: 15px;
	background-color: silver;
	}

.note{
	margin: 40px;
	padding: 10px;
	border-style: solid;
	border-radius: 25px;
	background-color: white;
	position: relative; left: 40%;
}

.box1{
	text-align: center;
	background-color: blue;
	color: red;
	border-style: solid;
	font-size: 50px;
	border-radius: 10px;
	margin: 20px;
}

.box2{
	text-align: center;
	background-color: orange;
	color: aqua;
	border-style: solid;
	font-size: 30px;
	border-radius: 10px;
	margin: 20px;
}

.box3{
	text-align: center;
	background-color: lime;
	color: yellow;
	border-style: solid;
	font-size: 10px;
	border-radius: 5px;
	margin: 10px;
	max-width: 100px;
}